/* Global Styles */

* {
    box-sizing:content-box; 
    margin: 1%;
    padding: 2px;
    border-radius: 15px;
    
    color: #1f0505;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4e8e8;
    text-align: center;
    box-shadow: 5px 5px 10px 1px #000000;
    background-color: #bec6cb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin-bottom: 10px;
    color: #212121;
    
}

p {
    margin-bottom: px;
}

a {
    text-decoration: none;
    color: #0c0e10;
}

a:hover {
    color: #23527c;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

/* Header Section */

header {
    background-color: #bec6cb;
    padding: 20px;
    text-align: center;
    color: #fff;
    border: 2px solid #e5d7d7;
    box-shadow: 5px 5px 10px 1px #d5bebe;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
    margin-bottom: 20px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

header nav li {
    margin-right: 20px;
    box-shadow: 5px 5px 10px 1px #e8e0e0;
    background-color: #000000;
}

header nav a {
    color: #fff;
    transition: color 0.2s ease;
}

header nav a:hover {
    color: #121010;
}

/* Portfolio Section */

#portfolio {
    background-color: #a78a8a;
    padding: 20px;
    box-shadow: 5px 5px 10px 1px #e5dbdb;
}

.project {
    background-color: #ad9b9b;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 2px solid #7f3a3a;
}

.project img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    border-radius: 10px 15px 0 0;
    
}

.project h3 {
    margin-top: 0;
    font-size: 24px;
    color: #337ab7;
}

.project p {
    font-size: 18px;
    margin-bottom: 10px;
    border: 2px solid #6f4d4d;
    box-shadow: 5px 5px 10px 1px #000000;
}

.project strong {
    font-weight: bold;
    color: #337ab7;
}

.project a {
    color: #337ab7;
    transition: color 0.2s ease;
}

.project a:hover {
    color: #23527c;
}

/* Skills Section */

#skills {
    background-color: #ad9b9b;
    padding: 20px;
    border: 2px solid #6f4d4d;
    box-shadow: 5px 5px 10px 1px #000000;
}

#skills ul {
    columns: 2;
    column-gap: 20px;
}

#skills li {
    margin-bottom: 10px;
    font-size: 18px;
    color: #337ab7;
    border: 2px solid #928787;
    box-shadow: 5px 5px 10px 1px #000000;
}

/* Experience Section */

#experience {
    background-color: #ad9b9b;
    padding: 20px;
    border: 2px solid #644343;
}

.job {
    background-color: #a38383;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.job h3 {
    margin-top: 0;
    font-size: 24px;
    color: #337ab7;
}

.job p {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Education Section */

#education {
    background-color: #cfbaba;
    padding: 20px;
    border: 2px solid #643e3e;
}

.education-entry {
    background-color: #ad9b9b;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.education-entry h3 {
    margin-top: 0;
    font-size: 24px;
    color: #337ab7;
}

.education-entry p {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Contact Section */

#contact {
    background-color: #ad9b9b;
    padding: 20px;
    border: 2px solid #673e3e;
}

#contact a {
    margin-right: 20px;
    font-size: 18px;
    color: #337ab7;
}

#contact a:hover {
    color: #23527c;
}

/* Footer */

footer {
    background-color: #777474;
    color: #e7dbdb;
    padding: 10px;
    text-align: center;
    clear: both;
    border: 2px solid #513434;
}